.jumbotron {
    background-color: white;
    color: green;
    margin: 10px 10px 10px 5px;
    text-align: center;
}

.jumbotron > img {
    width: 200px;
    height: 200px;
}

.navbar {
    background-color: green;
    color: white;
}

.breadcrumb {
    background-color: green;
    color: black;
}

.breadcrumb > .active {
    color: black;
    text-decoration: none;
}

.carousel {
    margin: 25px 15px 15px 15px;
    border-style: solid;
    border-color: green;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: green;
    color: white;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-proffesion {
    flex: 1 150px;
    margin-top: 30px;
}

.btn-reserva {
    width: 100%;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: blue;
}

.row_inline_border {
    border-style: solid;
    border-color: green;
}

.about_image {
    margin: 30px 30px 30px 30px;
    border-style: solid;
    border-color: green;
}

.carousel-img {
    width: 1200px;
    height: 400px;
}

.nav-item {
    background-color: green;
}

.nav {
    margin: 10px 5px 25px 5px;
}
