$yellow: #dedc5d;
$red: #bd0b23;
$green: #23c441;
$blue: #1531a1;
$white: #fcfdff;
$black: #021336;

@mixin margenes($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

@mixin fondo($color) {
    background-color: $color;
}

@mixin color($color) {
    color: $color;
}

.jumbotron {
    @include fondo($white);
    @include color($green);
    @include margenes(10px, 10px, 10px, 5px);
    text-align: center;
}

.jumbotron > img {
    width: 200px;
    height: 200px;
}

.navbar {
    @include fondo($green);
    @include color($white);
}

.breadcrumb {
    @include fondo($green);
    @include color($black);
}

.breadcrumb > .active {
    @include color($black);
    text-decoration: none;
}

.carousel {
    @include margenes(25px, 15px, 15px, 15px);
    border-style: solid;
    border-color: $green;
}

footer {
    @include padding(10px, 10px, 0, 10px);
    @include fondo($green);
    @include color($white);
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-proffesion {
    flex: 1 150px;
    margin-top: 30px;
}

.btn-reserva {
    width: 100%;
}

a:link {
    @include color($white);
}

a:visited {
    @include color($white);
}

a:hover {
    @include color($blue);
}

.row_inline_border {
    border-style: solid;
    @include fondo($green);
}

.about_image {
    margin: 30px 30px 30px 30px;
    border-style: solid;
    border-color: $green;
}

.carousel-img {
    width: 1200px;
    height: 400px;
}

.nav-item {
    @include fondo($green);
}

.nav {
    @include margenes(10px, 5px, 25px, 5px);
}
