.jumbotron {
  background-color: #fcfdff;
  color: #23c441;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  text-align: center; }

.jumbotron > img {
  width: 200px;
  height: 200px; }

.navbar {
  background-color: #23c441;
  color: #fcfdff; }

.breadcrumb {
  background-color: #23c441;
  color: #021336; }

.breadcrumb > .active {
  color: #021336;
  text-decoration: none; }

.carousel {
  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  border-style: solid;
  border-color: #23c441; }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  background-color: #23c441;
  color: #fcfdff;
  margin-bottom: 0px;
  margin-top: 20px; }

.card-proffesion {
  flex: 1 150px;
  margin-top: 30px; }

.btn-reserva {
  width: 100%; }

a:link {
  color: #fcfdff; }

a:visited {
  color: #fcfdff; }

a:hover {
  color: #1531a1; }

.row_inline_border {
  border-style: solid;
  background-color: #23c441; }

.about_image {
  margin: 30px 30px 30px 30px;
  border-style: solid;
  border-color: #23c441; }

.carousel-img {
  width: 1200px;
  height: 400px; }

.nav-item {
  background-color: #23c441; }

.nav {
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 25px;
  margin-left: 5px; }
